<!DOCTYPE html>

<html lang="en" dir="ltr">
     {{>header}}
   <head>
      <meta charset="utf-8">
      <title>Login and Registration Form</title>
      <link rel="stylesheet" href="style.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      {{>navbar}}
      <div class="wrapper">
         <div class="title-text">
            <div class="title login">
               Login Form
            </div>
         </div>
         <div class="form-container">
            <div class="slide-controls">
               {{!-- //<input type="radio" name="slide" id="login" checked> --}}
   
               <label for="login" class="slide login">Login</label>
               {{!-- <div class="slider-tab"></div> --}}
            </div>
            <div class="form-inner">
               <form action="/login" method="POST">
                  <div class="field">
                     <input type="text" name="email" placeholder="Email Address"  value ="" required>
                  </div>
                  <div class="field">
                     <input type="password" name="password" placeholder="Password" value ="" required>
                  </div>
                  <div class="pass-link">
                     <a href="#">Forgot password?</a>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Login">
                  </div>
                  <div class="signup-link">
                     Not a member? <a href="/register">Signup now</a>
                  </div>
               </form>
               </form>
            </div>
         </div>
      </div>
   </body>
</html>