<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a class="nav-link active" href="/">Home</a></li>
  {{!-- <li><a href="/register">SignUp</a></li>
  <li><a href="/login">Login</a></li> --}}
  <li><a href="/profile">Profile</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>

</body>
</html>
